<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{1504,404},{116,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{116,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{2042,106},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>controls_panel_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,1580},{360,208}}</string>
                <key>offset</key>
                <string>{0,196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,208}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>controls_panel_left_edge_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{512,208}}</string>
                <key>offset</key>
                <string>{0,196}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,208}}</string>
                <key>sourceSize</key>
                <string>{512,600}</string>
            </dict>
            <key>controls_panel_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1580},{360,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,600}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>controls_panel_left_fill_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,404},{512,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,600}}</string>
                <key>sourceSize</key>
                <string>{512,600}</string>
            </dict>
            <key>controls_panel_right_bottom_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{1580,2},{1576,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1576,400}}</string>
                <key>sourceSize</key>
                <string>{1576,400}</string>
            </dict>
            <key>controls_panel_right_bottom_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1576,400}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1576,400}}</string>
                <key>sourceSize</key>
                <string>{1576,400}</string>
            </dict>
            <key>controls_panel_top_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,1580},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>controls_panel_top_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,1782},{196,196}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,106},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,71},{66,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>numButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1856},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1672},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,1580},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1764},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1672},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1580},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton15.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton16.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1942},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{1100,1948},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1432},{108,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{108,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rounded_dash.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,174},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1432},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,27},{110,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{1982,2},{102,64}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{102,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userInterface-ipadhd.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35915d563a3952221ca29b02c2364f5c:545539d69fd2ffac53d57510657db3da:c502f529b1326393133b1b1fe352aeb3$</string>
            <key>textureFileName</key>
            <string>userInterface-ipadhd.png</string>
        </dict>
    </dict>
</plist>
