<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2pt_border_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,568},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,204},{58,36}}</string>
                <key>offset</key>
                <string>{4,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,22},{58,36}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>controls_panel_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,792},{180,104}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,104}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>controls_panel_left_edge_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,462},{256,104}}</string>
                <key>offset</key>
                <string>{0,98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,104}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>controls_panel_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,792},{180,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{180,300}}</string>
                <key>sourceSize</key>
                <string>{180,300}</string>
            </dict>
            <key>controls_panel_left_fill_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,204},{256,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,300}}</string>
                <key>sourceSize</key>
                <string>{256,300}</string>
            </dict>
            <key>controls_panel_right_bottom_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{788,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,200}}</string>
                <key>sourceSize</key>
                <string>{788,200}</string>
            </dict>
            <key>controls_panel_right_bottom_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{788,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{788,200}}</string>
                <key>sourceSize</key>
                <string>{788,200}</string>
            </dict>
            <key>controls_panel_top_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,562},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>controls_panel_top_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,664},{98,98}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,98}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,462},{34,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,35},{34,30}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>numButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,568},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton10.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,712},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton11.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,664},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton12.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,616},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton13.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,568},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton14.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,434},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton15.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,388},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton16.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButton9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{44,46}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,15},{44,46}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>numButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,616},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,18},{44,44}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,298},{54,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{54,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>rounded_dash.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,2},{8,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{8,4}}</string>
                <key>sourceSize</key>
                <string>{8,4}</string>
            </dict>
            <key>rounded_fill_9slice.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,480},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,242},{56,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{56,54}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,354},{52,32}}</string>
                <key>offset</key>
                <string>{0,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,4},{52,32}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userInterface-hd.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:790c1b8224bf81d5c9f1e2b90c94f42a:326e9be544a615b8b8c9d32641f2109a:c502f529b1326393133b1b1fe352aeb3$</string>
            <key>textureFileName</key>
            <string>userInterface-hd.png</string>
        </dict>
    </dict>
</plist>
