<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>check.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,516},{116,72}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,44},{116,72}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>clear_rect_uilayer.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>controls_panel_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,604},{360,208}}</string>
                <key>offset</key>
                <string>{0,196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,208}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>controls_panel_left_edge_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,516},{512,208}}</string>
                <key>offset</key>
                <string>{0,196}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,208}}</string>
                <key>sourceSize</key>
                <string>{512,600}</string>
            </dict>
            <key>controls_panel_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{604,2},{360,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,600}}</string>
                <key>sourceSize</key>
                <string>{360,600}</string>
            </dict>
            <key>controls_panel_left_fill_extended.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{512,600}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{512,600}}</string>
                <key>sourceSize</key>
                <string>{512,600}</string>
            </dict>
            <key>controls_panel_right_bottom_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,726},{1320,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1320,200}}</string>
                <key>sourceSize</key>
                <string>{1320,200}</string>
            </dict>
            <key>controls_panel_right_bottom_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,726},{1320,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1320,200}}</string>
                <key>sourceSize</key>
                <string>{1320,200}</string>
            </dict>
            <key>controls_panel_top_left_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,814},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>controls_panel_top_left_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,814},{196,196}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,196}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,604},{66,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,71},{66,58}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>numButton1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,1016},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton2.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1084},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton3.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1012},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton4.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,1012},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton5.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,994},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton6.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,904},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton7.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,814},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButton8.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,944},{88,90}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,32},{88,90}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>numButtonHighlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,1034},{88,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,36},{88,88}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,834},{108,108}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,26},{108,108}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>rounded_dash.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,2},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,8}}</string>
                <key>sourceSize</key>
                <string>{16,8}</string>
            </dict>
            <key>speaker.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,726},{110,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{110,106}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
            <key>x.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,664},{102,64}}</string>
                <key>offset</key>
                <string>{0,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,8},{102,64}}</string>
                <key>sourceSize</key>
                <string>{160,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>userInterface-ipadhd.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:892a340d1490f2d9d42e73becf7384cc:3e36ace2ecce17dca466c86b92a33574:c502f529b1326393133b1b1fe352aeb3$</string>
            <key>textureFileName</key>
            <string>userInterface-ipadhd.png</string>
        </dict>
    </dict>
</plist>
