<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,308},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>audio_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,392},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>audio_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,390},{36,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{36,36}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_bullseye.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,428},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>drum_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,446},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>entry_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,266},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>glyph_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,350},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pad_border_corner_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,104},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_inside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,178},{70,70}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_outside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,124},{4,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{4,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,250},{68,140}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{68,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>tone_low_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,428},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,198},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,104},{26,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{26,18}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,178},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,236},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,218},{20,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,2},{20,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,160},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,160},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,142},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,142},{22,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,124},{22,16}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{22,16}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
            <key>tone_low_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,198},{30,18}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{30,18}}</string>
                <key>sourceSize</key>
                <string>{36,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-ipad.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18c35e8ecce0c5b031eae34dc262820:9269318ca611fb3b4da94acee8f109ab:82db5edfa4ea82b9933e5fa2170b080c$</string>
            <key>textureFileName</key>
            <string>audioObjects-ipad.png</string>
        </dict>
    </dict>
</plist>
