<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{46,226},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,150},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_box_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{10,248},{1,1}}</string>
                <key>offset</key>
                <string>{-24.5,24.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>audio_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,40},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>audio_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,226},{18,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,18}}</string>
                <key>sourceSize</key>
                <string>{18,18}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{13,248},{0,0}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{0,0}}</string>
                <key>sourceSize</key>
                <string>{0,0}</string>
            </dict>
            <key>drum_bullseye.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{8,8}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>drum_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{6,6}}</string>
                <key>sourceSize</key>
                <string>{10,10}</string>
            </dict>
            <key>entry_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,226},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>glyph_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>pad_border_corner_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{36,36}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_corner_inside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,202},{36,36}}</string>
                <key>offset</key>
                <string>{-17,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,36}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_corner_outside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_strait_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{2,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,0},{2,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,78},{34,70}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{34,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>tone_low_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,64},{8,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,1},{8,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,246},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,202},{14,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,246},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,52},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{10,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,40},{10,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{10,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,76},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,240},{12,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,1},{12,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,240},{12,8}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{12,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
            <key>tone_low_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,246},{16,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{16,8}}</string>
                <key>sourceSize</key>
                <string>{18,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e18c35e8ecce0c5b031eae34dc262820:9269318ca611fb3b4da94acee8f109ab:82db5edfa4ea82b9933e5fa2170b080c$</string>
            <key>textureFileName</key>
            <string>audioObjects.png</string>
        </dict>
    </dict>
</plist>
