<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,438},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{200,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{200,200}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>audio_box_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,284},{1,1}}</string>
                <key>offset</key>
                <string>{-99.5,99.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{200,200}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,296}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{296,296}}</string>
                <key>sourceSize</key>
                <string>{296,296}</string>
            </dict>
            <key>audio_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,864},{136,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,136}}</string>
                <key>sourceSize</key>
                <string>{136,136}</string>
            </dict>
            <key>audio_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,598},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,284},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_bullseye.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,740},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>drum_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,864},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{24,24}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>entry_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,356},{80,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,80}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>glyph_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,520},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{76,76}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>pad_border_corner_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,204},{144,144}}</string>
                <key>offset</key>
                <string>{-68,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,144}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>pad_border_corner_inside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,350},{140,140}}</string>
                <key>offset</key>
                <string>{-70,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>pad_border_corner_outside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>pad_border_strait_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,2},{8,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,0},{8,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,492},{136,280}}</string>
                <key>offset</key>
                <string>{72,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,0},{136,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{280,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,280}}</string>
                <key>sourceSize</key>
                <string>{280,280}</string>
            </dict>
            <key>tone_low_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,740},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,4},{32,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,320},{58,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,204},{52,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,2},{52,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,284},{58,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,706},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{38,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,706},{38,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,4},{38,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,672},{44,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{44,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,672},{44,32}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,4},{44,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,672},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{42,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,672},{42,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{42,32}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,240},{42,34}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,2},{42,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
            <key>tone_low_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{446,320},{58,34}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,2},{58,34}}</string>
                <key>sourceSize</key>
                <string>{72,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-ipadhd.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f92d34931ce4f4ef373982dc1da84104:9269318ca611fb3b4da94acee8f109ab:3d9867aa5343b5f7aa1e763c0d00dc8a$</string>
            <key>textureFileName</key>
            <string>audioObjects-ipadhd.png</string>
        </dict>
    </dict>
</plist>
