<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>arrow_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,86},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>audio_box.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,408},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,508},{1,1}}</string>
                <key>offset</key>
                <string>{-49.5,49.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>audio_box_highlight.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{148,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,148}}</string>
                <key>sourceSize</key>
                <string>{148,148}</string>
            </dict>
            <key>audio_box_switch.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,294},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>audio_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,436},{68,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,68}}</string>
                <key>sourceSize</key>
                <string>{68,68}</string>
            </dict>
            <key>audio_unit.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,408},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,24}}</string>
                <key>sourceSize</key>
                <string>{24,24}</string>
            </dict>
            <key>clear_rect_audio_batch.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,508},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>drum_bullseye.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,128},{16,16}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{16,16}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>drum_diamond.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,128},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{12,12}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>entry_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>glyph_circle.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,254},{38,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{38,38}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>goal.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>pad_border_corner_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,436},{72,72}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_inside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,436},{70,70}}</string>
                <key>offset</key>
                <string>{-35,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_corner_outside_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_edge.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,294},{4,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,0},{4,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_border_strait_right_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,152},{68,140}}</string>
                <key>offset</key>
                <string>{36,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,0},{68,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>pad_fill.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{140,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,140}}</string>
                <key>sourceSize</key>
                <string>{140,140}</string>
            </dict>
            <key>switch_receiver_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,424},{10,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,1},{10,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>switch_receiver_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,128},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>switch_receiver_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,408},{14,18}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{14,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>switch_receiver_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,408},{14,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,1},{14,18}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>switch_sender_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,212},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>switch_sender_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,170},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>switch_sender_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,128},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>switch_sender_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,86},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warp_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warp_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,86},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warp_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,44},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>warp_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,40}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>audioObjects-hd.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf7d4b80879bb6fae7d8c76772b4002f:b4dee5ddf0ebaf94846bc04c768cdf2c:82db5edfa4ea82b9933e5fa2170b080c$</string>
            <key>textureFileName</key>
            <string>audioObjects-hd.png</string>
        </dict>
    </dict>
</plist>
